html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eeeeee;
  font-size: 100%;
}

.navigation {
  background-color: #212121;
  overflow: hidden;
  height: 100px;
}

.navigation span {
  font-size: 2rem;
  float: right !important;
  display: block;
  color: #32e0c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation .brand {
  float: left;
}

.section {
  padding: 30px;
}

.section h1 {
  color: #0d7377;
  text-align: center;
}

.player-photo {
  padding: 5px 5px;
  width: fit-content;
  height: fit-content;
  align-self: center;
}